[submodule "GPUImage"]
	path = GPUImage
	url = git://github.com/BradLarson/GPUImage.git
[submodule "UIKitHelper"]
	path = UIKitHelper
	url = git@github.com:kasajei/UIKitHelper.git
[submodule "BCGenieEffect"]
	path = BCGenieEffect
	url = git://github.com/Ciechan/BCGenieEffect.git
[submodule "vksocialkit"]
	path = vksocialkit
	url = git@bitbucket.org:kasajei/vksocialkit.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "appirater"]
	path = appirater
	url = git://github.com/arashpayan/appirater.git
